:root {
  --bg: #ffffff;
  --border: #eef0f3;
}

body {
  font-family: 'Poppins', 'Roboto', sans-serif;
  min-height: 100vh;
}

#app{
  display: flex;
  flex-direction: column;
}

table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table th {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: left;
}

table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr {
  transition: background-color 0.1s ease;
}

table tr:hover {
  background-color: #f0f0f0;
}

@media screen and (max-width: 768px) {
  table {
    border-radius: 0;
    box-shadow: none;
  }

  table th, table td {
    padding: 10px;
  }

  table thead {
    display: none;
  }

  table tbody tr {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  table tbody tr:last-child {
    margin-bottom: 0;
  }

  table tbody tr:hover {
    background-color: transparent;
  }

  table tbody td {
    display: block;
    text-align: center;
  }
}

button {
  outline: none;
  border: none;
  background: rgb(231, 231, 231);
  padding: 6px 12px;
  border-radius: 17px;
  margin-top: 15px;
  transition:
    background-color 0.3s,
    transform 0.2s;
  font-size: 13px;
}

button:hover:not(:disabled) {
  background-color: rgb(204, 204, 204);
  transform: scale(1.05);
  cursor: pointer;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  outline: none;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  padding: 12px;
  background: var(--background);
  transition: border 0.2s;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
  border: 1px solid #7e7e7e;
}

label {
  user-select: none;
  display: grid;
  padding: 5px 0;
}